*{
    margin:0;
    padding:0;
}
p{/*no se si a esto tendré que cambiarle el selector para el resto de páginas*/
    text-align:justify;
}
header nav, .dropdown-menu[data-bs-popper]{
    background-color:lightgreen;
    font-size:1.5vw;
}
.navbar{
    padding:0;
}
.derecha{
    display:flex;
    justify-content:flex-end;
}
.active{
    font-weight:bold;
}
header .logo{
    /*max-width:10rem;*/
    width:10vw;
}
footer .logo{
    max-width:15rem;
    background-color:white;
    border-radius:10rem;
}
.logo img{
    width:100%;
}
.nav-item{
    padding:0.5rem;
}
.nav-link{
    padding:1rem 0;
}
.nav-link:hover, .dropdown-item:hover{
    background-color: tomato;
    color: lightgreen!important;
}
.dropdown-item.active, .dropdown-item:active{
    background-color:lightgreen;
}
#carouselExampleSlidesOnly img{
    height:15rem;/**/
}
main{
    margin-bottom:0.5rem;
}
h1, section{
    margin-top:2rem;
}
h1{
    text-align:center;
}
h2{
    margin-bottom:1rem;
}
.centrarAlert{
    text-align:center;
}
section{
    margin:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#login p{
    text-align:center;
}
article{
    margin:1rem;
    padding:1rem;
    width:75%;
    display:flex;
    flex-direction:column;
    align-items:center;/*Esto hace  ue los P de la home algunos se queden mas centrados ya que nos son tan largos*/
}
article img{
    border-radius:5vw;
}
#verde{
    background-color:lightgreen;
    border:solid 2px black;
}
#verde h1{
    margin-top:0;
    margin-bottom:0.5rem;
}
/*intento de adaptar todos los form*/
/*#verde form{
    width:80%;
}
#verde form input:not(input[type="submit"]){
    width:50%;
}*/
form{
    min-width:40%;
    display:flex;
    flex-direction:column;
}
form p{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
#modificaciones{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#horario{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#horario p{
    margin:auto 0;
    padding-left:0.5rem;
    width:65%;
}
#horario p:nth-child(2n){
    background-color:green;
    padding-left:1rem;
}
#motivos{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
#motivos label{
    margin:1.5rem;
}
#motivos span{
    padding-left:0.5rem;
}
input{
    padding:0 0.5rem;
}
input[type="submit"]{
    margin-top:1rem;
}
#misDatos{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#mapa{
    margin-top:1rem;
    min-width:100%;
    height:100%;
}
footer{
    padding:0.5rem;
    color:lightgreen;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#modificaciones form{
    display:flex;
    align-items:center;
}
table{
    text-align: center;
    /*max-width:95%;*/
}








footer section{
    margin:0!important;
}








footer nav a{
    color:lightgreen;
}
#redesSociales{
    display:flex;
    flex-direction:row;
}
#redesSociales img{
    max-width:3rem;
}
@media (min-width:576px){
    section{
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-around;
        align-items:stretch;
    }
    article{
        width:45%;
    }
    #horario p{
        width:50%;
    }
    #login, #crearUsuario, #cuenta, #reservas, #admin{
        text-align:center;
        flex-direction:column;
        align-items:center;
    }
    #administracion form{
        width:100%;
        flex-direction:row;
        justify-content:space-around;
    }
    #administracion{
        width:100%;
    }
    form p{
        flex-direction:row;
    }
    form p input{
        margin-left:1rem;
    }
    footer{
        flex-direction:row;
        justify-content:space-around;
    }
}
@media (min-width:768px){
    #carouselExampleSlidesOnly img{
        height:25rem;/**/
    }
}
/*Añadido para controlar los cuadros verdes*/
@media (min-width:992px){
    #horario p{
        max-width:35%;
    }
}