*{
    margin:0;
    padding:0;
}
nav{
    background-color:lightgreen;
}
.derecha{
    display:flex;
    justify-content:flex-end;
}
.rojo{
    color:red;
}
.active{
    font-weight:bold;
}
#carouselExampleSlidesOnly img{
    height:15rem;/**/
}
main{
    margin-bottom:0.5rem;
}
h1, section{
    margin-top:2rem;
}
section{
    margin:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}
article{
    margin:1rem;
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
article:nth-child(1n+2){
    margin-top:1rem;
}
p{/*no se si a esto tendré que cambiarle el selector para el resto de páginas*/
    text-align:justify;
}
footer{
    color:lightgreen;
}
footer p{
    margin:0;
}
/*Movil*/
/*@include media-breakpoint-up(sm) {*/
@media (min-width:576px){
    /*Tablet*/
    section{
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-around;
    }
    article{
        width:40%;
    }
}
/*@include media-breakpoint-up(md){*/
@media (min-width:768px){/*o 992px*/
    /*Desktop*/
    #carouselExampleSlidesOnly img{
        height:25rem;/**/
    }
}